scheduler:
  name: scheduler
  image:
    repository: "vmois/dask-k8s-scheduler"
    tag: "latest"
    pullPolicy: IfNotPresent
  replicas: 1
  serviceType: "LoadBalancer"
  servicePort: 8786
  resources:
    limits:
      cpu: "1"
      memory: 4G
    requests:
      cpu: "1"
      memory: 4G
  env:
    - name: DASK_ALLOWED_FAILURES
      value: "20"
    - name: DASK_CLUSTER_STARTUP_COST
      value: "10s"
    - name: DASK_CLUSTER_TARGET_DURATION
      value: "10s"

webUI:
  name: webui
  servicePort: 8787
  containerPort: 8787
